
@media (max-width: 767.98px) { 
    .workBannerHead__title {
        font-size: 40px;
    }
    .workBannerHead__sumary {
        font-size: 12px;
    }
    .templeteWrapper {
        display: flex;
        justify-content: center;
    }
    .buildHead__title {
        font-size: 36px;
        line-height: 48px;
    }
    .buildHead__sumary {
        font-size: 12px;
        line-height: 20px;
    }
    .buildHead__contactBtn {
        padding: 14px 50px;
    }
}